@model asti.CustomerServiceApplication.Models.UserClass

@{
    ViewBag.Title = "All The Small Things";
}

<h2 class="">IndividualUser</h2>

<div class="row">
    <div class="col-xs-12">
        <h2>@Model.Username</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>XP @Model.CurrentXp - LVL @Model.Level</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Engadgement Today</h2>
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-xs-12">
        @* engadgement chart *@
    </div>
</div>