body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
input,
textarea {
    max-width: 280px;
}


#clockdiv {
    font-family: sans-serif;
    color: #fff;
    /*display: inline-block;*/
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

    #clockdiv > div {
        padding: 10px;
        border-radius: 3px;
        background: #00BF96;
        display: inline-block;
    }

    #clockdiv div > span {
        padding: 15px;
        border-radius: 3px;
        background: #00816A;
        display: inline-block;
    }

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

footer .outer {
    text-align: center
}

    footer .outer .inner {
        display: inline-block
    }

.user-details{
    margin-bottom: 2em;
    border: 1px solid black;
}

.user-header{
    padding-bottom: 1em;
}